snippet initDraft:
  #import "@local/draft:0.1.0": *
  #show: draft.with(
    title: "my thing",
     authors: (
        (
          name: "Jose Christian",
          email: "j.christian@brighton.ac.uk",
          department: "School of Business and Law",
          university: "University of Brighton"
        ),
      ),
      abstract: [
      The abstract goes here fo future reference.
      ],
  )

  = Introduction

  $1


  #bibliography("thefile.bib")
